*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/payaso-imagen-animada.gif);
    background-repeat: repeat;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    line-height: 150%;


    &__div-head{
    padding-bottom: 1%;
    background-color: red;
    padding: 2%;
    width: 10%;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 4px;
    color: white;
    font-style: oblique; 
    transition-property: transform;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-name: header;
    }

    @keyframes header {
        0%{transform: rotateY(180deg); translate: 20%; left: 10;top:0%}
    
        
        
    }

   &__div-foot{
        background-color: rgb(202, 127, 30);
        border-radius: 4px;
        text-align: center;
        padding: 2%;
        padding-bottom: 1%;
        font-weight: 700;
        margin-top: 1%;
        margin-bottom: 5%;
        position: relative;
        animation-name: footer;
        animation-duration: 5s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        transition-duration: 5s;
        transition-delay: 5s;


        @keyframes footer {
            0%{
                left: 0%; top:0%;

            }

            50%{ left:20%; top:0%;

            }
            100%{
                right: 20%;top:0%;

            }
            
        }

        &__button{
            background-color: red;
            padding: 2%;
            margin-top: 3%;
            color: white;
            border-radius: 50%;
            border: none;
            font-weight: 700;

        }
    }


}

.form{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: rgb(73, 73, 232);
    padding-bottom: 2%;
    width: 50%;
    height: 100%;
    border-style: dotted;
    border-color: yellow;

    &__div{
        padding-left: 8%;
        padding-top: 5%;
        width: 90%;
        height: 50%;

       &__label{

        text-transform: uppercase;
        color: red;
        font-weight: 700;
        text-decoration: line-through;
        text-decoration-color: white;
       }

    

       &__input{
        background-color: rgb(187, 187, 201);
        border: none;
        text-decoration:none;
        border-radius: 4px;
        width:90%;
        padding: 2%;
       }

       .form__div__input:hover{

        background-color: black;
        color: black;

       }

       &__div--p{
        padding-left: 0%;
        padding-top: 0%;
        text-align: center;
        margin-left: 5%;
        font-weight: 700;
        font-style: oblique;  }

    }


    &__button {
        padding-top: 4%;
        padding-left: 40%;
        padding-bottom: 1%;

      
        &__button{
        background-color: rgb(213, 50, 50);
        padding: 5%;
        border: none;
        font-weight: 700;
        border-radius: 4px;
        width: 30%;
        color: white;
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: ease; }
    }

}

.form__button__button:hover{
    transform: translatex(100%);     
    

}

